.row {
    @mixin clearfix;

    @mixin atMedium {

        &__b-margin-until-medium {
            margin-bottom: 0;
        }
        
        &__medium-4 {
            width: 33.33%;
            float: left;

            &--larger {
                width: 37%;
            }
        }

        &__medium-6 {
            float: left;
            width: 50%;
        }

        &__medium-8 {
            width: 66.66%;
            float: left;

            &--smaller {
                width: 63%;
            }
        }
    }
    
    &--gutters-small {
        margin-right: -45px;
    }
    
    &--gutters {
        margin-right: -65px;
    }

    &--gutters-small >div {
        padding-right: 45px;
    }
    
    &--gutters-large {
        margin-right: -100px;
    }

    &--gutters-large > div {
        padding-right: 100px;
    }
    
    &--gutters > div {
        padding-right: 65px;
    }

    &__b-margin-until-medium {
        margin-bottom: 1rem;
    }
    
    &--t-padding {
        padding-top: 80px;
    }

    
    /*Begin equal height Rules*/
    &--equal-height-at-medium {
        @mixin atMedium {
            display: flex;
            
            & > div {
                float: none;
                display: flex;
            }
        }
    }

}