{{#shapes}}
    {{#first}}
        .icon {
            background-image: url('/temp/sprite/css/{{{sprite}}}');
        }
    {{/first}}
    
    .icon--{{base}} {
        width: {{width.outer}}px;
        height: {{height.outer}}px;
        background-position: {{position.relative.xy}};
    }
{{/shapes}}